<!-- wp:pattern {"slug": "the-photograph/hero-001"} /-->

<!-- wp:pattern {"slug": "the-photograph/content-010"} /-->

<!-- wp:pattern {"slug": "the-photograph/content-017"} /-->

<!-- wp:pattern {"slug": "the-photograph/layout-019"} /-->

<!-- wp:pattern {"slug": "the-photograph/content-020"} /-->

<!-- wp:pattern {"slug": "the-photograph/content-024"} /-->

<!-- wp:pattern {"slug": "the-photograph/cta-006"} /-->

<!-- wp:template-part {"slug":"footer","theme":"the-photograph","area":"footer"} /-->