<!-- wp:template-part {"slug":"header","theme":"the-photograph","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"blog-two-columns","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"0","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"bottom":"var:preset|spacing|superbspacing-medium"}}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group blog-two-columns" style="margin-bottom:var(--wp--preset--spacing--superbspacing-medium);padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:0;padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:query-title {"type":"search","textAlign":"center","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|superbspacing-xsmall"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"superbfont-large"} /-->

<!-- wp:template-part {"slug":"search-field-large","theme":"the-photograph","area":"uncategorized"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"blog-feed","theme":"the-photograph","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","theme":"the-photograph","tagName":"footer"} /-->